<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message" style="padding-bottom: 0">
                    <h1>{{ question }}</h1>
                    <br><br><br>
                    <div data-toggle="checkbox">
                        <ul>
                            <li><input type="checkbox" ng-model="serviceModel.netflix" id="cb1" />
                                <label for="cb1"><img src="img/netflix%20logo.png" class="img-thumbnail-custom" /></label>
                            </li>
                            <li><input type="checkbox"ng-model="serviceModel.amazon_prime" id="cb2" />
                                <label for="cb2"><img src="img/amazonprime logo.png" class="img-thumbnail-custom" /></label>
                            </li>
                            <li><input type="checkbox" ng-model="serviceModel.hulu_plus" id="cb3" />
                                <label for="cb3"><img src="img/hululogo.png" class="img-thumbnail-custom" /></label>
                            </li>
                            <li><input type="checkbox" ng-model="serviceModel.showtime_subscription" id="cb4" />
                                <label for="cb4"><img src="img/Showtime Logo.jpg" class="img-thumbnail-custom"/></label>
                            </li>
                            <li><input type="checkbox" ng-model="serviceModel.hbo_now" id="cb5" />
                                <label for="cb5"><img src="img/hbogo logo.jpg" class="img-thumbnail-custom" /></label>
                            </li>
                         </ul>
                    </div>
    <ul class="list-inline intro-social-buttons">
        <li>
        </li>
        <li>
            <br>
            <a class="btn btn-main btn-lg" ng-click="saveServices()" href="#chillin">Next</a>
        </li>
        <li>
        </li>
    </ul>
</div>
</div>
</div>
</div>






